body{
  background-color: lavenderblush;
}

.brushbox{
  height:100px;
  width:100px;
  border: 1px solid black;
  background-color: lavenderblush;
}

div{
  width: 20px;
  height: 20px;
  border: 1px solid black;
}
